# Logs
logs
*.log

# IDE
.idea/
.vscode/launch.json

# mac os
.DS_Store

# reports
allure-report/
allure-results/

# Optional npm cache directory
.npm

# Dependency directory
node_modules
cypress/videos
cypress/screenshots
cypress/integration/examples
cypress/fixtures/example.json